name: Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, ready_for_review]
  workflow_dispatch:

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_enabled: ${{ !contains(github.event.pull_request.labels.*.name, 'breaking-change') }}
      unacceptable_language_check_word_list: "blacklist whitelist slave sane sanity insane insanity kill killed killing hang hung hanged hanging"
      license_header_check_project_name: "swift-libp2p"
