name: Pull Request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, ready_for_review]
  workflow_dispatch:

env:
  LOG_LEVEL: info
  REDIS_HOSTNAME: redis
  REDIS_PORT: 6379
  REDIS_HOSTNAME_2: redis-2
  REDIS_PORT_2: 6379

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_enabled: ${{ !contains(github.event.pull_request.labels.*.name, 'breaking-change') && inputs.api_breakage_check_enabled }}
      api_breakage_check_allowlist_path: ${{ inputs.api_breakage_check_allowlist_path }}
      unacceptable_language_check_word_list: "blacklist whitelist slave sane sanity insane insanity kill killed killing hang hung hanged hanging"
      license_header_check_project_name: "swift-libp2p"
